# Default values for overops-event-generator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Overops Config settings
overops:
  collectorURL: ""
  collectorKeyID: "" # Used for MEC Configurations
  applicationName: ""
  deploymentName: ""
  serverName: ""
  environmentName: ""
  randomSeed: ""

  enableSourceAttach: false
  sourceAttachCredToken: ""

  # Extended Agent settings using a Property File
  # Note: This will set the TAKIPI_PROPERTIES_FILE using a configmap
  agentProperties: ""
  # Example:
  # agentProperties: |-
  #   takipi.max.depth=10
  #   takipi.shutdown.gracetime=60

  # Use an agent-sidecard instead of an embedded agent.
  agentSidecar:
    enabled: false
    useDebug: false
    repository: overops/agent-sidecar
    pullPolicy: IfNotPresent
    tag: latest

  # Job Related settings
  job:
    enabled: false
    activeDeadlineSeconds: 600
    numberOfEvents: 100
    randomSeed: 123

replicaCount: 1

image:
  repository: overops/event-generator
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
securityContext: {}

resources: {}

autoscaling:
  enabled: false

nodeSelector: {}
tolerations: []
affinity: {}
