apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "overops-server.fullname" . }}
  labels:
    {{- include "overops-server.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "overops-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "overops-server.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "overops-server.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}

      {{- if or (.Values.postgresql.enabled) (.Values.overops.agentSidecar.enabled)  }}
      initContainers:
      {{- if .Values.postgresql.enabled }}
        # Check if DB is ready, and only continue when true
        - name: check-db-ready
          image: bitnami/postgresql:{{ .Values.postgresql.image.tag }}
          command: ['sh', '-c',  'until pg_isready -U {{ .Values.postgresql.postgresqlUsername | quote }} -h {{ template "postgresql.hostname" . }} -p {{ .Values.postgresql.service.port }};  do echo waiting for database; sleep 2; done;']
      {{- end }}
      {{- if .Values.overops.agentSidecar.enabled }}
        - name: overops-agent-sidecar
          image: "{{ .Values.overops.agentSidecar.repository }}:{{ .Values.overops.agentSidecar.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.overops.agentSidecar.pullPolicy }}
          volumeMounts:
          - name: overops-agent
            mountPath: /opt/overops-agent
      {{- end }}
      {{- end }}

      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: HOST_URL
              value: {{ include "overops-server.fullname" . }}
            - name: FRONTEND_URL
              value: {{ .Values.overops.frontendURL | quote }}
            - name: DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ include "overops-server.secretName" . }}
                  key: default-user-password

            {{ if .Values.mysql.enabled }}
            - name: DB_TYPE
              value: "mysql"
            - name: DB_SSL
              value: "--no-db-ssl"
            - name: DB_URL
              value: "{{ template "mysql.hostname" . }}:{{ .Values.mysql.service.port }}"
            - name: DB_USER
              value: {{ .Values.mysql.mysqlUser | quote }}
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ template "mysql.hostname" . }}
                  key: mysql-password
            {{ else if .Values.postgresql.enabled }}
            - name: DB_TYPE
              value: "postgresql"
            - name: DB_SSL
              value: "--no-db-ssl"
            - name: DB_URL
              value: "{{ template "postgresql.hostname" . }}:{{ .Values.postgresql.service.port }}"
            - name: DB_USER
              value: {{ .Values.postgresql.postgresqlUsername | quote }}
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ template "postgresql.hostname" . }}
                  key: postgresql-password
            {{ else if .Values.externalDatabase.enabled }}
            - name: DB_TYPE
              value: {{ .Values.externalDatabase.type | quote }}
            - name: DB_SSL
              value: "--no-db-ssl"
            - name: DB_URL
              value: {{ .Values.externalDatabase.url | quote }}
            - name: DB_USER
              value: {{ .Values.externalDatabase.dbUser | quote }}
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ include "overops-server.secretName" . }}
                  key: db-password
            {{ end }}
            {{ if .Values.overops.rabbitQueue.enabled }}
            - name: RMQ_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ include "overops-server.secretName" . }}
                  key: rmq-password
            {{ end }}
            {{- if .Values.overops.agentSidecar.enabled }}
            - name: TAKIPI_COLLECTOR_URL
              value: {{ .Values.overops.agentSidecar.collectorURL | quote }}
            - name: TAKIPI_APPLICATION_NAME
              value: {{ .Values.overops.agentSidecar.applicationName | quote }}
            - name: TAKIPI_DEPLOYMENT_NAME
              value: {{ .Values.overops.agentSidecar.deploymentName | quote }}
            - name: TAKIPI_SERVER_NAME
              value: {{ .Values.overops.agentSidecar.serverName | quote }}
            - name: JAVA_TOOL_OPTIONS
              {{- if .Values.overops.agentSidecar.useDebug }}
              value: "-agentpath:/opt/overops-agent/takipi/lib/libTakipiAgent.so=takipi.debug.logconsole"
              {{- else }}
              value: "-agentpath:/opt/overops-agent/takipi/lib/libTakipiAgent.so"
              {{- end }}
            {{- end }}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /opt/overops/private
              name: overops-private
            {{- if .Values.overops.agentSidecar.enabled }}
            - name: overops-agent
              mountPath: /opt/overops-agent
            {{- end }}

          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: /service/png
              port: http
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          {{- end }}

         {{- if .Values.startupProbe.enabled }}
          startupProbe:
            httpGet:
              path: /service/png
              port: http
            initialDelaySeconds: {{ .Values.startupProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds }}
            failureThreshold: {{ .Values.startupProbe.failureThreshold }}
            successThreshold: {{ .Values.startupProbe.successThreshold }}
            timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds }}
          {{- end }}

      volumes:
        - name: overops-private
          configMap:
            name: {{ template "overops-server.fullname" . }}-config
            items:
            - key: application.properties
              path: application.properties
            - key: application-mysql.properties
              path: application-mysql.properties
            - key: my.server.properties
              path: my.server.properties
            {{- if .Values.overops.rabbitQueue.enabled }}
            - key: application-msg_rabbit.properties
              path: application-msg_rabbit.properties
            {{- end }}
        {{- if .Values.overops.agentSidecar.enabled }}
        - name: overops-agent
          emptyDir: {}
        {{- end }}

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
