# Default values for overops.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
 enableKedaAuth: false

keda:
  rabbitQueue:
    service: ""
    port: 5672
    username: overops
    password: ""

overops-server:
  enabled: true
  overops:
    defaultUserPass: ""
    defaultUserServiceKey: ""
    frontendURL: "http://overops.127.0.0.1.nip.io:8080/"


