# Default values for overops.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
 enableStorageServer: false
 enableStorageServerS3: false

overops-server:
  enabled: true
  overops:
    defaultUserPass: ""
    defaultUserServiceKey: ""
    frontendURL: "http://overops.127.0.0.1.nip.io:8080/"

overops-collector:
  enabled: true
  overops:
    serviceKey: ""

overops-event-generator:
  enabled: true

overops-storage-server-s3:
  overops:
    bucket: ""
    pathPrefix: ""
    accessKey: ""
    secretKey: ""

overops-receiver-server:
    enabled: false