apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "overops-collector.fullname" . }}
  labels:
    {{- include "overops-collector.labels" . | nindent 4 }}
data:
  {{- if .Values.overops.serviceKey  }}
  installation.key:  {{ .Values.overops.serviceKey }}
  {{- end }}
  {{- if .Values.overops.installToken  }}
  installation.token:  {{ .Values.overops.installToken }}
  {{- end }}
  collector.properties: |-
     jvmPath=${JAVA_HOME}/lib/amd64/server/libjvm.so
     libraryPath=/opt/takipi/lib

     takipi.listen.port=6060
     {{- if .Values.overops.backendURL }}
     takipi.backend.url={{ .Values.overops.backendURL }}
     {{- else }}
     takipi.backend.url={{ include "overops-collector.hostedBackendURL" . }}
     {{- end }}
     {{- if .Values.overops.storageTestURL }}
     takipi.storage.test.url={{ .Values.overops.storageTestURL }}
     {{- else if .Values.global.enableStorageServer }}
     takipi.storage.test.url={{ include "overops-collector.hostedStorageURL" . }}/storage/v1/diag/ping
     {{- else if .Values.global.enableStorageServerS3 }}
     takipi.storage.test.url={{ include "overops-collector.hostedStorageS3URL" . }}/storage/v1/diag/ping
     {{- else }}        
     takipi.storage.test.url={{ include "overops-collector.hostedBackendURL" . }}/service/png
     {{- end }}
     {{- if .Values.overops.serverName }}
     takipi.server.name={{ .Values.overops.serverName }}
     {{- end }}
     {{- if .Values.overops.extraCollectorProperties }}
     {{ .Values.overops.extraCollectorProperties | nindent 5 }}
     {{- end }}
