apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "overops-collector.fullname" . }}
  labels:
    {{- include "overops-collector.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "overops-collector.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "overops-collector.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "overops-collector.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.overops.agentSidecar.enabled }}      
      initContainers:
        - name: overops-agent-sidecar
          image: "{{ .Values.overops.agentSidecar.repository }}:{{ .Values.overops.agentSidecar.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.overops.agentSidecar.pullPolicy }}
          volumeMounts:
          - name: overops-agent
            mountPath: /opt/overops-agent      
      {{- end }}        
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: collector
              containerPort: 6060
              protocol: TCP

          {{- if .Values.overops.agentSidecar.enabled }}
          env:
            - name: TAKIPI_COLLECTOR_URL
              value: {{ .Values.overops.agentSidecar.collectorURL | quote }}
            - name: TAKIPI_APPLICATION_NAME
              value: {{ .Values.overops.agentSidecar.applicationName | quote }}
            - name: TAKIPI_DEPLOYMENT_NAME
              value: {{ .Values.overops.agentSidecar.deploymentName | quote }}
            - name: TAKIPI_SERVER_NAME
              value: {{ .Values.overops.agentSidecar.serverName | quote }}
            - name: TAKIPI_ENV_ID
              value: {{ .Values.overops.agentSidecar.environmentName | quote }}
            - name: JAVA_TOOL_OPTIONS
              {{- if .Values.overops.agentSidecar.useDebug }}
              value: "-agentpath:/opt/overops-agent/takipi/lib/libTakipiAgent.so=takipi.debug.logconsole"
              {{- else }}
              value: "-agentpath:/opt/overops-agent/takipi/lib/libTakipiAgent.so"
              {{- end }}
          {{- end }}          

          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            tcpSocket:
              port: collector
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          {{- end }}  

          volumeMounts:
            - mountPath: /opt/overops/private
              name: overops-private-volume
            {{- if .Values.overops.agentSidecar.enabled }}
            - name: overops-agent
              mountPath: /opt/overops-agent
            {{- end }}              
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

      volumes:
        - name: overops-private-volume
          configMap:
            name: {{ template "overops-collector.fullname" . }}
            items:
            - key: collector.properties
              path: collector.properties
        {{- if .Values.overops.agentSidecar.enabled }}
        - name: overops-agent
          emptyDir: {}
        {{- end }}

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
