apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "overops-event-generator.fullname" . }}
  labels:
    {{- include "overops-event-generator.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "overops-event-generator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "overops-event-generator.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "overops-event-generator.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}

      {{- if .Values.overops.agentSidecar.enabled }}
      initContainers:
        - name: overops-agent-sidecar
          image: "{{ .Values.overops.agentSidecar.repository }}:{{ .Values.overops.agentSidecar.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.overops.agentSidecar.pullPolicy }}
          volumeMounts:
          - name: overops-agent
            mountPath: /takipi
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: TAKIPI_COLLECTOR_HOST
              value: {{ include "overops-event-generator.collectorEndpoint" . }}
            - name: TAKIPI_COLLECTOR_PORT
              value: {{ .Values.overops.collectorPort | quote }}
            - name: TAKIPI_PROPERTIES_FILE
              value: "/opt/takipi/private/agent.properties"
            - name: TAKIPI_APPLICATION_NAME
              value: {{ .Values.overops.applicationName | quote }}
            {{- if not .Values.overops.sourceAttach.enabled }}
            - name: TAKIPI_DEPLOYMENT_NAME
              value: {{ .Values.overops.deploymentName | quote }}
            {{- end }}
            {{- if .Values.overops.serverName }}
            - name: TAKIPI_SERVER_NAME
              value: {{ .Values.overops.serverName | quote }}
            {{- end }}
            {{- if .Values.overops.environmentId }}
            - name: TAKIPI_ENV_ID
              value: {{ .Values.overops.environmentId | quote }}
            {{- end }}
            {{- if .Values.overops.randomSeed }}
            - name: RANDOM_SEED
              value: {{ .Values.overops.randomSeed | quote }}
            {{- end }}
            {{- if .Values.overops.agentSidecar.enabled }}
            - name: JAVA_TOOL_OPTIONS
              {{- if .Values.overops.agentSidecar.useDebug }}
              value: "-agentpath:/takipi/lib/libTakipiAgent.so"
              {{- else }}
              value: "-agentpath:/takipi/lib/libTakipiAgent.so=takipi.debug.logconsole"
              {{- end }}
            {{- end }}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: overops-private
              mountPath: /opt/takipi/private
            {{- if .Values.overops.agentSidecar.enabled }}
            - name: overops-agent
              mountPath: /takipi
            {{- end }}

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: overops-private
          configMap:
            name: {{ template "overops-event-generator.fullname" . }}-config
            items:
            - key: agent.properties
              path: agent.properties
        {{- if .Values.overops.agentSidecar.enabled }}
        - name: overops-agent
          emptyDir: {}
        {{- end }}
